{{ define "entries/_entry.tmpl" }}
	<a href="" class="list-group-item list-group-item-action entry-list-item{{if .JustAdded}} just-added{{end}}">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">
				{{.Coffee}}
				{{.BrewMethod}} - {{.CoffeeGrams}}/{{.WaterGrams}}
			</h5>
			<small>
				{{.EntryDate}}
			</small>
		</div>

		<small>
			{{.GrindNotes}}; {{.Water}}
		</small>
		<p class="mb-1">
			{{.TastingNotes}}
		</p>
	</a>
{{ end }}
