{{ define "entries/_form.tmpl" }}
	<form method="post" action="/logs/{{.LogID}}/entries">
		<div class="mb-3">
			<label for="entry_form_coffee" class="form-label">Coffee</label>
			<input type="text" class="form-control" id="entry_form_coffee" name="coffee" value="{{.Coffee}}">
		</div>
		<div class="mb-3">
			<label for="entry_form_water" class="form-label">Water</label>
			<input type="text" class="form-control" id="entry_form_water" name="water" value="{{.Water}}">
		</div>
		<div class="mb-3">
			<label for="entry_form_method" class="form-label">Method</label>
			<input type="text" class="form-control" id="entry_form_method" name="method" value="{{.Method}}">
		</div>
		<div class="mb-3">
			<label for="entry_form_grind" class="form-label">Grind</label>
			<input type="text" class="form-control" id="entry_form_grind" name="grind" value="{{.Grind}}">
		</div>
	</form>
{{ end }}
