{{- define "entries/index.tmpl" }}
<!doctype html>
<html lang="en">
<head>
	<title>Coffee Log - {{.CurrentLog.Title}} Entries</title>
	{{ template "shared/_head.tmpl" . }}
</head>
<body>
<div class="container">
	{{ template "shared/_log_tabs.tmpl" .LogTabs }}

	<h1>{{.CurrentLog.Title}} Entries</h1>
	{{ template "entries/_form.tmpl" .NewEntryForm }}

	{{ if .EntryViews }}
		{{ range .EntryViews }}
			{{ template "entries/_entry.tmpl" . }}
		{{ end }}
	{{ else }}
		<p id="no_log_entries_message">There are no log entries yet.</p>
	{{ end }}
</div>
</body>
</html>
{{- end }}
