{{ define "entries/index.tmpl" }}
<!doctype html>
<html lang="en">
<head>
	{{ template "shared/head.tmpl" . }}
	<title>Log Entries</title>
</head>
<body>
<div class="container">
	<h2>Add Entry</h2>
	{{ template "entries/_form.tmpl" .NewEntryForm }}
	<h2>Previous Entries</h2>
	<table>
		<thead>
		<tr>
			<th>Date</th>
			<th>Coffee</th>
			<th>Notes</th>
		</tr>
		</thead>
		<tbody>
		{{ range .Logs }}
			<tr>
				<td>{{.CreatedAt}}</td>
				<td>{{.Coffee}}</td>
				<td>{{.Notes}}</td>
			</tr>
		{{ end }}
		</tbody>
	</table>
</div>
{{ template "shared/foot.tmpl" . }}
</body>
</html>
{{ end }}

